:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Define the variables for the light theme */
:root[data-theme="light"] {
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #333;
}

/* Define the variables for the dark theme */
:root[data-theme="dark"] {
  --text-color: #333;
  --background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  /* border: 1px solid black;
  width: 1140px;
  margin: 0 auto; */
}
